<%= link_to '新增向度', new_dimension_path %>
<h1>向度列表</h1>

<table>
  <thead>
    <tr>
      <th>名稱</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dimensions.each do |dimension| %>
      <tr>
        <td><%= dimension.name %></td>
        <td><%= link_to '刪除', dimension, method: :delete, data: { confirm: '您確定要刪除?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>