<div class="news_block" 
	 style="background: none;">
 
        <div class="news_block_title"><%= news_block.title %></div>
        <div class="news_block_image"><%=image_tag news_block.cover%></div>	
</div>
