body {
	font-family: Microsoft JhengHei, 'Lato', Calibri, Arial, sans-serif;
	background: #f9f9f9;
}
a{
	text-decoration: none;
}
button{
	border:0;
	outline: 0;   
	outline-style:none;     
	outline-width:0;	
}
/*============================================= left menu =========================================*/
.cce_left_menu_container
{
	color: #f9f9f9;	
	position: fixed;
	top: 0;
	left: 0;
	width: 14.5em;
	height: 100%;
	overflow: visible;
	z-index: 1;
	background: #FF3385;
}
.cce_left_menu_container .signIn_container
{
	margin: 2em auto;
	width: 12em;
	height: 8em;
	border: 5px solid #f9f9f9
}
.login{
  height: 150px;
  width: 10em;
  padding: 8px;
}

.login input[type=text]{
  width: 10.5em;
  height: 20px;
  letter-spacing: 0.1em;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: #fff;
  font-family: Microsoft JhengHei, 'Lato', Calibri, Arial, sans-serif;
  font-size: 15.5px;
  font-weight: bold;
  padding: 4px;
}

.login input[type=password]{
  width: 10.5em;
  height: 20px;
  letter-spacing: 0.1em;  
  background: transparent;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color:  #fff;
  font-family: Microsoft JhengHei, 'Lato', Calibri, Arial, sans-serif;
  font-size: 15.5px;
  font-weight: bold;
  padding: 4px;
  margin-top: 10px;
}

.login input[type=submit]{
  line-height: 12px;
  width: 7em;
  height: 25px;
  background: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #FF3385;
  font-family: Microsoft JhengHei, 'Lato', Calibri, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 6px;
  margin-top: 13px;
}
.login .forget_pw{
	padding-left: 1em;
	margin-left: 1.8em;
	font-size: 10px;
	border-left: 1px solid rgba(255,255,255,0.6);
}

.login input[type=submit]:hover{
  opacity: 0.8;
}

.login input[type=submit]:active{
  opacity: 0.6;
}

.login input[type=text]:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=submit]:focus{
  outline: none;
}

::-webkit-input-placeholder{
   opacity: 1;
}
::-moz-placeholder {  /* Firefox 19+ */
   opacity: 0.5;
}
:-ms-input-placeholder {  
   opacity: 0.5;  
}
.cce_left_menu_container .mid_container
{
	margin: 1em auto;
    width: 12em;
	height: 60%;
    border-top: 3px solid #f9f9f9
}
.mid_container ul{
	list-style-type: none;
	padding: 0;
} 
.mid_container li{
	width: 10em;
	margin-bottom: 1.5em;
	height: 2.7em;
	font-weight: bold;
	
} 
.mid_container li a{
	color: #f9f9f9;
} 
.mid_container li:hover{
	
	opacity: 0.8;
} 
.mid_container li .mid_container_img{
	float: left;
	margin-top: 0.6em;
}
.mid_container li .mid_container_word{
	float: left;
	margin-left: 1em;
}
.mid_container li .mid_container_CH{
	letter-spacing: 0.2em;
}
.mid_container li .mid_container_EN{
	font-size: 80%;
}
.cce_left_menu_container .bot_container
{
	margin: 0em auto;
	width: 12em;
	height: 7em;
	border: 5px solid #f9f9f9	
}
.bot_container ul{
	list-style-type: none;
	padding:0;
	margin-top: 0.6em;
	margin-left: 1em;		
} 
.bot_container li{
	width: 10em;
	height: 1.6em;
	font-weight: bold;
} 
.bot_container li .bot_container_img{
	float: left;
	margin-top: 0em;
}
.bot_container li .bot_container_word{
	float: left;
	margin-left: 0.3em;
}
.bot_container li .bot_container_CH{
	letter-spacing: 0.5em;
	font-size: 75%;
}
.bot_line{
	margin: 0em auto;
	width: 12.5em;
}
.bot_line_left{
	border-bottom: 5px solid #f9f9f9;
	height: 0.5em;
	width: 48%;
	display: inline-block;
}
.bot_line_right{
	border-bottom: 5px dotted #f9f9f9;
	height: 0.5em;
	width: 48%;	
	display: inline-block;
}
/*============================================= top menu =========================================*/
.cce_top_menu_container
{
	color: #FF3385;	
	position: fixed;
	top: 0;
	left: 16em;
	width: 81%;
	height: 17em;
	overflow: visible;
	background: #f9f9f9;
	z-index: 1;
}
.cce_top_menu_container .logo_container
{
	height: 9.8em;
	border-bottom: 2px solid #FF3385;	
	padding-bottom: 0.5em;
}
.logo_container_title{
	float:left;
	font-weight: bold;
	margin-top: 1em;	
}
.logo_container_title_inner{
	width:14em;
	border: 4px solid #FF3385;	
}
.logo_container_pic{
	float: right;
	margin-top: 3em;
}
.logo_container_pic img{

}

.cce_top_menu_container .title_container
{
	height: 2.7em;
	border-bottom: 2px solid #FF3385		
}
.title_container_left{
	float: left;
	font-size: 1.2em;
	font-weight: bold;
	margin-top:0.5em;
}
.title_container_left_content{
	float: left;
	width: 20em;
	letter-spacing: 0.2em;
	margin-left: 0.5em;
}
.title_container_right{
	float: right;
	width: 18em;
}

.search_box input[type="text"] {
	width: 15em;
	float:right;
	font-family: Microsoft JhengHei, 'Lato', Calibri, Arial, sans-serif;	
	background: #f9f9f9;
	border: 3px solid #FF3385;	
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    margin-top:0.25em;
    padding: 2px;
    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s;
}
.search_box input[type=text]:focus{
  outline: none;
  width: 17em;
}
.search_box button {
	position: absolute;
	right: 0.5em;
    margin-top:0.26em;
	background: none;
    cursor: pointer;
    color: #FF3385;
    font-size: 1.4em;
    padding: 2px;
} 


.cce_top_menu_container .filter_container
{
	height: 2.1em;
	border-bottom: 2px solid #FF3385;	
	padding-bottom: 0.5em;	
}

.filter_container_left{
	float: left;
	font-size: 1.2em;
	font-weight: bold;
	margin-top:0.5em;
}
.filter_container_left_content{
	width: 70%;
	letter-spacing: 0.2em;
	margin-left: 0.5em;
}
.filter_container_right{
	float: right;
	font-size: 1.2em;
	margin-top:0.5em;
}
.select_container{
	border-left: 2px solid #FF3385;	
	float: left;
	margin-left: 1em;
}

.select_filter{
	width: 6em;
	position: relative;
	overflow:hidden;
}
.select_filter select {
   font-family: Microsoft JhengHei, 'Lato', Calibri, Arial, sans-serif;	
   font-weight: bold;
   cursor:pointer;
   color: #FF3385;	
   background: transparent;
   width: 9em;
   text-align:-moz-center;
   text-align:-webkit-center;   
   font-size: 0.8em;
   letter-spacing: 0.2em;
   padding-right: 1em;
   border: none;
   border-radius: none;
   -moz-appearance: none; 
   -webkit-appearance: none;
   }
.select_filter select:focus{
   outline: none;
}
.select_filter option
{
    background: #f9f9f9;
}
 
.select_filter span {
    font-size: 0.8em;
	position: absolute;
	right: 0.5em;
	top: 0.3em;
}    


/*============================================= cce main container =========================================*/
.cce_main_container{
	clear: both;
	margin-top: 17em;
	margin-left: 16em;	
    padding-bottom: 3em;
    width: 85%;	
}
/*=============================================       masonry      =========================================*/
.masonry-container{
  	width: 100%;
}
.box{
  	width: 14em;
  	background: #FF3385;
	margin: 5px auto 5px;	
	border-color: #3F3F3F;
	border-radius: 3px;
	border: 1px solid #DADADA
}
/*=============================================       news     =========================================*/
.news_block{
	height: 10em;
	color: 	#707070;
}
.news_block_title{
	text-align: center;
	font-size: 3em;
	float: left;
	display: inline-block;
	width: 33%;
	height: 10em;
}
.news_block_image{
	float: left;
	display: inline-block;
	text-align: center;
	width: 66%;
}
.news_block_image img{
	height: 10em;

}
